*{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    font-size: 20px;
	--color1: rgb(222, 226, 230);
    --color2: rgb(22, 22, 22);
    --color3: rgb(255, 255, 255);
    --color4: rgb(175, 175, 175,0.1);
    --color5: rgb(201, 205, 209);
    --color6: rgb(195, 198, 202);
    --color7: rgb(24, 24, 24);
    --color8: rgb(0, 0, 0);
    --color9: rgba(255, 255, 255, 0.1);
    --gradiant: linear-gradient(var(--color8), var(--color7));
}

.hidden{
    display: none;
}

.header, .footer{
    background: var(--gradiant);
    color: var(--color3);
    padding: 50px 0 75px;
}

.footer{
    margin-top: 40px;
}

.nav-bar{
    position: relative;
    top: -30px;
    background-color: var(--color3);
    margin: auto;
    font-size: 1.1rem;
}

.list{
    margin: 0;
    padding: 0;
    list-style: none;
}

.link{
    color: rgb(22, 22, 22);
    text-decoration: none;
    // border-right: 1px solid var(--color4);
    transition: all 200ms;
}

.link:hover{
    color: rgb(22, 22, 22);
    transform: scale(1.1);
}

.shadow{
    box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.4);
}

.paddin-top-bottom-20{
    padding: 20px 0;
}

.paddin-top-bottom-15{
    padding: 15px 0;
}

.main-area{
    background: linear-gradient( var(--color6),var(--color1));
}

.img-containter{
    width: 100%;
    height: 100%;
    background-color: var(--color1);
    box-shadow: 10px 10px 30px -10px rgba(0, 0, 0, 0.164);

    display: flex;
    flex-direction: column;

    transition: all 350ms;

    .img-containter__img{
        width: 100%;
        height: 85%;

        img{
            height: 100%;
            width: 100%;
            object-fit:cover;
        }
    }

    .img-containter__info{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        h4{
            font-weight: 100;
        }

        p{
            font-weight: bold;
        }
    }

}

.img-containter:hover{
    cursor: pointer;
    transform: scale(1.05);
    box-shadow: 10px 10px 30px -10px rgba(0, 0, 0, 0.452); //agregar mas sombra
    transform: rotate(-.5deg);
}

.grid-section{
    padding: 0 10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 1fr; 
    grid-gap:1rem;
    justify-items: center;

    
}

.grid-area{
    .img-containter:first-child{
        grid-column: 1 / 3;
        grid-row: 1 / 3;
    }

    .img-containter:nth-child(6){
        grid-column: 2 / 4;
        grid-row: 3 / 5;
    }
}

.bold{
    font-weight: bold;
}

.form{
    width: 75%;
    margin: auto;
    padding: 20px;

    .form__field{
        padding: 10px;
        display: flex;
        flex-direction: column;
        border: solid 1p green;

        .input{
            margin: 10px 0px;
            border: 0px;
            padding: 10px;
            border-radius: 10px;
        }
    }

    .form__field--buttons{
        display: flex;
        flex-direction: row;
        justify-content: space-between;


        .button{
            margin: 10px;
            padding: 10px;
            background-color: var(--color5);
            border: 0px;
            border-radius: 5px;
            transition: all 50ms;
        }

        .button:hover{
            transform: scale(1.01);
            background-color: var(--color6);
            cursor: pointer;
        }
    }
}

.form__field .new-user .link{
    margin: auto;
    padding: 0;
    width: fit-content;
    color: var(--color2);
    font-size: .8rem;
}

.form__field .new-user .link:hover{
    transform: scale(1.02);
}
